{% extends 'base.html.twig' %}

{% block title %}creation de compte{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="{{ asset('script/main.js') }}" defer></script>
{% endblock %}

{% block body %}
    <header>
        <nav class="container titleshadow">
            <div><a href="{{ path('index') }}" class="decoration navlink">Accueil</a></div>
            <div><a href="{{ path('covoiturage') }}" class="decoration navlink">Covoiturage</a></div>
            <div><a href="" class="decoration navlink">Contact</a></div>
            <div><a href="{{ path('moncompte') }}" class="decoration navlink">Mon compte</a></div>
            <div><a href="{{ path('connexion') }}" class="decoration navlink">Connexion</a></div>
            <div><a href="{{ path('deconnexion') }}" class="decoration navlink">Deconnexion</a></div>
        </nav>
    </header>
    <div class="titleaccount titleshadow">
        <p><strong>CREATION DE COMPTE</strong></p>
    </div>
    
{{ form_errors(form) }}

{{ form_start(form, {'method': 'POST'}) }}

<div class="accountcreation">
            <div class="accountext">
                <div><label >Pseudo :</label></div>
                <div>{{ form_row(form.pseudo) }}</div>
            </div>

            <div class="accountext">
                <div><label >Nom :</label></div>
                <div>{{ form_row(form.name) }}</div>
            </div>

            <div class="accountext">
                <div><label >Prénom :</label></div>
                <div>{{ form_row(form.surname) }}</div>
            </div>

            <div class="accountext">
                <div><label >Adresse-mail :</label></div>
                <div>{{ form_row(form.mail) }}</div>
            </div>
            
            <div class="accountext">
                <div><label >Mot-de-passe :</label></div>
                <div>{{ form_row(form.plainPassword) }}</div>
            </div>
<div class="buttonaccounts">
    <button type="submit" class="buttonaccount">Créer un compte</button>
</div>
        </div>

{{ form_end(form) }}
{% endblock %}